<!DOCTYPE html>
<html ng-app="contatooh">
  <head>
    <meta charset="utf-8">
    <title>Express com AngularJS</title>

    <link rel="stylesheet" href="css/index.min.css">
  </head>
  <body>
    <div class="text-right">
      <p>
        Logado como: <span id="usuario-logado"> <%=usuarioLogado%></span>
        <a href="/logout">Logout</a>
      </p>
    </div>
    <div class="container" ng-view></div>

    <script src="js/index.min.js"></script>
  </body>
</html>
